body { }
footer {margin-top: 30px;}

.text-primary {
  color: #228AE6 !important;
}

.jumbotron {background-color: white;}
.jumbotron-heading {margin-bottom: 30px;}

.nav-link {color: white;}
.nav-link:hover {color: white;}
.nav-link:active {color: white;}
.nav-link:visited {color: white;}

.service-group {
  margin-top: 50px;
}
.service-item {
  font-size: 26px;
  line-height: 85px;
  padding: 20px 20px;
  margin-right: 15px;
}
.service-sub-description {
  margin-top: 50px;
  font-size: 20px;
  line-height: 30px;
}


.member-group-description {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.member-name {
  font-size: 26px;
}
.member-title {
  font-size: 14px;
}
.focus-domain {
  font-size: 14px;
  line-height: 30px;
  background-color: #f8f9fa;
  color: #6c757d!important;
  padding: 4px 8px;
}


/*about*/
.org-description li {
  padding-bottom: 10px;
}
.address-card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
